html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #E1F5FE, #FAFAFA);
}
.panel-container {
    width: 315px;
}
.panel-body {
    padding: 20px;
}
.row {
    display: block;
    margin-bottom: 10px;
}
.submit-row {
    text-align: center;
}
.panel {
    width: 315px;
}
#register-panel {
    display: none;
}
.switcher {
    margin-top: 10px;
}